.footer {
  font-weight: 100;
  font-size: 10pt;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem; }
  .footer .footer-content {
    margin-bottom: 2rem; }
    .footer .footer-content .buy h2, .footer .footer-content .sell h2, .footer .footer-content .stay-connected h2, .footer .footer-content .about h2 {
      margin-left: 2.3rem;
      font-size: 13pt; }
    .footer .footer-content .buy ul li, .footer .footer-content .sell ul li, .footer .footer-content .stay-connected ul li, .footer .footer-content .about ul li {
      list-style: none;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem; }
  .footer .copyright {
    font-size: 9pt;
    text-align: center; }
